<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">Chat App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a type="button" data-action="action4" onclick="redirectToPage(this)" class="nav-link"
                            href="#">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Đăng xuất</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Welcome to Chat App</h1>
            <p class="lead">No pain no gain</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title" type="button" data-action="action1" onclick="redirectToPage(this)">Nhắn
                            tin</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 type="button" data-action="action2" onclick="redirectToPage(this)" class="card-title">Chuyển
                            file</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 type="button" data-action="action3" onclick="redirectToPage(this)" class="card-title">Gọi
                            điện</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-light text-center py-4 fixed-bottom">
        <p>&copy; 2023 My Website. All rights reserved.</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function redirectToPage(button) {
            var action = button.getAttribute("data-action");

            if (action === "action1") {
                window.location.href = "/chat"; // Thay đổi "/pages/register.html" thành đường dẫn của trang đăng ký
                //res.redirect('/pages/register.html');
            }
            if (action === "action2") {
                window.location.href = "/upload";
            }

            if (action === "action3") {
                window.location.href = "/call";
            }
            if (action === "action4") {
                window.location.href = "/admin";
            }
        }
    </script>
</body>

</html>